.activity-detail {
    flex: 1;
    margin:  20px 0;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.activity-detail i {
    text-transform: capitalize;
}