
.activity-feed-container {
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FDFDFC;
    padding: 10px 0;
}

.activity-feed-container.empty {
    flex: 1;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.activity-feed-container.empty > img {
    width: 50%;
}


.activity-date {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #727272;
    
}

.activity-date::after, .activity-date::before {
    content: "";
    flex: 1;
    border-bottom: 1px dashed black;
    margin-bottom: 5px;
}

.activity-feed {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.activity-feed a {
    all: unset;
}

.activity {
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px 8px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 12px;
    cursor: pointer;
}

.activity > div {
    display: flex;
}

.activity img {
    height: 20px;
    margin-right: 10px;
}

.activity .via-and-duration {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.activity i {
    font-size: 10px;
}

.activity-time {
    display: flex;
    gap: 5px;
    align-items: center;
    border-left: 1px dashed black;
    padding-left: 10px;
    color: #727272;
}

.activity-time > b {
    border: 1px solid black;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: 0;
    font-size: 10px;
    padding: 2px;
}